$var1 : 20px;
$var2 : (20%)-2%;

//hi
/* hi */

.code {

    a {
        width: 0px;
        
        b {
            height: 3%;
            color : red;
            background-color : green;
            $var4 : $var1 * 2;
        }
    }
    height: 10% + $var2;
}

a li {}
b > li {}
#idname .name li {}
.colorDiv:hover > li {color : rgb(200,120,100); }
@SYMTAB
