$var1 : 20px;
$var2 : (20%)-2%;
$var3 : green;

//this comment will be ignored
/* this comment will be kept */

.code {

    color: url(20 - rgb($var1, $var2, $var3));

    a {
        width: 0px;
        
        b {
            height: 3%;
            color : red /*missing semicolon on purpose*/
            $var4 : $var1 * 2;
        /*missing right brace on purpose*/
    }
}

a li {}
a > li {}
a .name li {}
a:hover > li {}
@SYMTAB