/* this comment will be kept */
.code  {
	height: 28.00%;
	font-family: "Acme";
}

.code a  {
	width: 200.00px;
	height: 28.00%;
	font-family: "Acme";
}

.code a b  {
	height: 45.00%;
	color: red;
	background-color: green;
	width: 200.00px;
	height: 28.00%;
	font-family: "Acme";
}

.code a b c:first-child  {
	height: 45.00%;
	color: red;
	background-color: green;
	width: 200.00px;
	height: 28.00%;
	font-family: "Acme";
}

.code a b c:first-child d  {
	height: 45.00%;
	color: red;
	background-color: green;
	width: 200.00px;
	height: 28.00%;
	font-family: "Acme";
}

a li  {
}

b > li  {
}

#idname .name li  {
}

.colorDiv:hover > li  {
	color: rgb(200.00,120.00,100.00);
}

---------- ---------- ----------
name       type       value     
---------- ---------- ----------
$var4        scalar    40px
$var3        atom      "Acme"
$var2        scalar    18%
$var1        scalar    20px
